<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"></header>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/includes/sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">


      <div id="content">
        <div th:replace="fragments/includes/topbar.html :: topbar"></div>
        <div class="container-fluid">

          <!-- Main Content --------------------------------------->

          <h2 class="lead">edit pet</h2>
          <div class="pad">
            <form class="pure-form pure-form-aligned" id="theForm" action="#" data-th-action="@{/pets}" data-th-object="${command}" method="post">
              <input type="hidden" data-th-field="*{id}" />
              <input type="hidden" data-th-field="*{clientId}" />
              <input type="hidden" id="fromClientPage" name="fromClientPage" data-th-value="${fromClientPage}" />

              <div data-th-if="${saved}" class="message-box-info">
                Saved
              </div>

              <div class="pure-control-group">
                <label>Client</label>
                <span data-th-text="${command.client.name}"> client </span>
              </div>

              <div class="pure-control-group">
                <label>Id</label>
                <span data-th-if="${command.id == null}"> New </span>
                <span data-th-if="${command.id != null}" data-th-text="*{id}"> New </span>
              </div>

              <div class="pure-control-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" data-th-field="*{name}">
              </div>

              <div class="pure-control-group">
                <label>Gender</label>
                <select data-th-field="*{gender}">
                  <option data-th-value="'Female'" data-th-text="Female"></option>
                  <option data-th-value="'Male'" data-th-text="Male"></option>
                </select>
              </div>


              <div class="pure-control-group">
                <label for="altered">Altered</label>
                <input id="altered" name="altered" type="checkbox" data-th-field="*{altered}">
              </div>

            </form>


          </div>

          <button type="submit" form="theForm" class="pure-button" value="Save">Save</button>
          <a class="pure-button" data-th-if="${fromClientPage}" data-th-href="@{/clients/{c}(c=${command.client.id})}">Cancel</a>
          <a class="pure-button" data-th-if="${!fromClientPage}" data-th-href="@{/pets}">Cancel</a>

          <a class="pure-button" data-th-href="@{'/pets/'+${command?.id}+'/delete'}">Delete</a>

          <!-- end ------------------------------------------------->

        </div>
      </div>


      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </div>
  <header th:replace="fragments/includes/plugins.html :: script"></header>

  <!-- add additional scripts here  -->

</body>

</html>