<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"></header>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/includes/sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">


      <div id="content">
        <div th:replace="fragments/includes/topbar.html :: topbar"></div>
        <div class="container-fluid">
         
        <!-- Main Content --------------------------------------->

            <h2 class="lead">pet table</h2>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="bg-white">
                        <th>id</th>
                        <th>name</th>
                        <th>gender</th>
                        <th>altered</th>
                        <th>owner name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="pet : ${pets}">
                        <td data-th-text="${pet.id}">...</td>
                        <td> 
                            <span data-th-text="${pet.name}" class="text-uppercase">...</span>
                            <a data-th-href="@{/pets/{id}(id=${pet.id})}" class="small text-primary">[edit]</a>
                        </td>
                        <td data-th-text="${pet.gender}" class="text-uppercase">...</td>
                        <td data-th-text="${pet.altered}" class="text-uppercase">...</td>
                        <td> 
                            <span data-th-text="${pet.client.name}" class="text-capitalize">...</span>
                            <a data-th-href="@{/clients/{id}(id=${pet.clientId})}" class="small text-primary">[edit]</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        <!-- end ------------------------------------------------->
        
        </div>
      </div>

      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </div>
  <header th:replace="fragments/includes/plugins.html :: script"></header>
  
  <!-- add additional scripts here  -->

</body>

</html>