        <!-- Topbar -->
        <nav data-th-fragment="topbar" class="navbar navbar-expand navbar-light topbar">
        
          <!-- site brand -->
          <a class="site-brand d-flex" href="#" data-th-href="@{'/'}">
            <div class="site-brand-icon">
              <img src="/images/icon.svg" alt="Pet Clinic">
            </div>
            <!-- title -->
            <div class="site-brand-text" th:include="fragments/attributes.html :: siteTitle">...</div>
          </a>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x sr-only"></i>
                    <i class="fas fa-search fa-fw fa-stack-1x"></i>
                </span>
              </a>
              
              <!-- Dropdown - Search -->
              <div class="dropdown-menu dropdown-menu-right p-1 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-group mr-auto mb-0">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 js-input-table-search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary btn-sm border-0" type="button">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#"  id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-th-href="@{/clients}"  class="mr-2 d-none d-lg-inline small">username TODO</span>
                 <!-- <span data-th-text="${command.client.name}"> client </span> -->
                <i class="fas fa-user-circle fa-2x"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in p-2" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user mr-2 text-muted"></i>
                  Edit Profile
                </a>
                <div class="dropdown-divider"></div>
         
                <a class="dropdown-item" href="#" sec:authorize="isAuthenticated()" data-th-href="@{'/logout'}">
                  <i class="fas fa-sign-out-alt mr-1 text-muted"></i>
                  Sign out
                </a>
                <a class="dropdown-item user-profile" href="#" sec:authorize="isAnonymous()" data-th-href="@{'/login'}">
                  <i class="fas fa-sign-out-alt mr-1 text-muted"></i>
                  Sign in
                </a>
            </div>
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->