<!DOCTYPE HTML>
<html data-th-fragment="tophalf :: html">
<header th:replace="fragments/head.html :: head"></header>

<body>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/includes/sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">

      <div id="content">
        <div th:replace="fragments/includes/topbar.html :: topbar"></div>


</body>
</html>