<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="row flex-xl-nowrap">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-2" data-th-fragment="header">
        <div class="sidebar-header">
            <h3>pet app</h3>
        </div>
        <ul class="components">
            <li class="active">
                <ul class="nav bd-sidenav" sec:authorize="isAuthenticated()">
                </li>
                    <li class="">
                        <a href="#" data-th-href="@{'/'}">Home</a>
                    </li>
                    <li class="">
                        <a href="#" data-th-href="@{'/clients'}">Clients</a></li>
                    <li class="">
                        <a href="#" data-th-href="@{'/pets'}">Pets</a>
                    </li>
                    <li class="">
                        <a href="#" data-th-href="@{'/appointments'}">Appointments</a>
                    </li>
                    <li class="">
                        <a href="#" data-th-href="@{'/logout'}">Sign Out</a>
                    </li>
                
                <ul class="pure-menu-list" sec:authorize="isAnonymous()">
                    <li class="pure-menu-item"><a href="#" data-th-href="@{'/'}" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="#" data-th-href="@{'/login'}" class="pure-menu-link">Sign
                            In</a></li>
                </ul>
                </ul>
    </nav>

    <div class="container">

    <div id="mainBody" class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">

    </div>
</div>
   
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html>