<head data-th-fragment="head">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="True" name="HandheldFriendly">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="dev client page for spring app">
  <meta name="author" content="annie tran (@group 2)">
  <meta name="google" content="notranslate">

  <title>Spring App</title>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/sb-admin-2.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
