#content {
  width: 100%
}

.message-box-info {
  color: green;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid {
  background-image: unset;
  border-color: #d1d3e2;
}

.was-validated .form-check-input:valid~.form-check-label {
  color: unset;
  border-color: unset;
}

.was-validated label[for="name"]:after {
  display: inline;
  content: "*";
  color: red;
}

.list-group-horizontal-sm .list-group-item:last-child {
  margin-right: 0;
  border-top-right-radius: .35rem;
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem;
}

.pet-save {
  border: unset;
  padding: unset;
}

body {
  background: #202460;
  color: #111;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji
}

.sidebar .nav-link:hover {
  box-shadow: inset 15px 0 0 0px #2a2f7d, inset -15px 0 0 0px #2a2f7d, inset 0 0 0 10px #2a2f7d, inset 0 40px 0 0 #202460;
  background: rgba(0,0,0,.15);
  background: rgba(255,255,255,.15);
  background: #202460;

}

.sidebar .sidebar-brand {padding:1em 0 ;display:flex; overflow:hidden; flex-direction:column; justify-content:center; align-items:center; color: white; text-transform:uppercase; font-weight:normal}

.sidebar .sidebar-brand .sidebar-brand-text{opacity:.4}

.sidebar .sidebar-heading{ text-align: center; padding: 0 1rem; font-weight: 800; font-size: .65rem}
.sidebar .sidebar-brand .sidebar-brand-icon{color:rgba(255,255,255,.6);font-size:2.5em}

.sidebar a {text-decoration:none;}
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important;
}

.sidebar-dark #sidebarToggle{background-color: rgba(255,255,255,.05)}