:root{
  --background: #f2f3f5;
}
.message-box-info {
  color: green;
  padding: 1rem 0;
  padding-top: 0;
}

.was-validated .form-control:invalid,
.was-validated .form-control:valid {
  background-image: unset;
  border-color: rgba(0, 0, 0, .125);
}

.form-control {
  border-color: rgba(0, 0, 0, .125)
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  padding-right: 0;
  background-image: unset;
}

.was-validated .form-check-input:valid~.form-check-label {
  color: unset;
  border-color: unset;
}

.was-validated label[for="name"]:after {
  display: inline;
  content: "*";
  color: red;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  padding-right: 0;
}

.list-group-horizontal-sm .list-group-item:last-child {
  margin-right: 0;
  border-top-right-radius: .35rem;
  border-bottom-right-radius: .35rem;
  border-bottom-left-radius: .35rem;
}

body {
  color: #3f3f44;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.table,
table {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-sm td,
.table-sm th {
  padding: .1rem .3rem;
  color: #3f3f44;
}

#wrapper #content-wrapper {
  /*   background-color: rgba(0,0,0,.055);
    background-color: rgba(255,255,255,.75); */
  overflow: hidden;
  height: 100vh;
}

#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
.bg-background{
  background-color: var(--background);
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topbar {
  margin: 0;
  top: 0;
  padding: 0;
  position: sticky;
  width: 100%;
  z-index: 2;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: unset;
  opacity: .5
}

.container-fluid {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  width: 100vw;
}

#sidebarToggleTop {
  margin-right: unset;
  margin: .3rem;
  padding: unset;
  padding: 0;
}

#sidebarToggle {
  background-color: rgba(255, 255, 255, .05)
}

#sidebarToggleTop:focus {
  box-shadow: 0;
}

.btn.custom-buttons {
  margin: 2px 0;
  padding: .1rem .4rem;
  font-size: .8em;
  opacity: 1.8
}

.btn-primary.custom-buttons {
  color: #fff;
  background: #2196f3;
  border: 1px solid #2196f3;
}

.btn-outline-secondary.custom-buttons {
  color: #2196f3;
  border-color: #2196f3;
  background: #fff;
}

.btn-link {
  color: #2196f3;
}

.btn.custom-buttons:hover {
  background: #0b6fbf;
}

.custom.card-body {
  padding: .7rem;
}

form.custom-labels label {
  position: absolute;
  display: none;
  margin-top: -.5rem;
}

form.custom-labels:hover label {
  display: block;
}

.bg-gradient-primary {
  background-color: #2196f3;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.form-control {
  padding: 0 .5rem
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #ddd;
}

.topbar .dropdown .dropdown-menu {
  right: .75rem
}

.custom.card-body {
  overflow: hidden
}

.dropdown-item {
  line-height: 90%;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa
}

footer {
  order: 2;
}

.sidebar-dark .nav-item .nav-link i {
  color: #ddd;
}

/* sidebar   ******************************************/
.site-brand-icon {
  padding: .1rem;
  border-radius: 50%
}

.site-brand-text {
  display: flex;
  color: #2196f3;
  font-weight: bold;
  margin: 0 .4rem;
  text-align: center;
  align-items: center;
  line-height: 100%;
  text-transform: uppercase;
}


.site-brand:hover {
  text-decoration: none !important;
}

.site-brand {
  display: flex;
  flex-direction: row;
}

.sidebar a {
  text-decoration: none;
}

.sidebar #sidebarToggle::after {
  color: #2196f3 !important;
}

.sidebar {
  background: #f7f8fb;
  border-right: 1px solid #eee;
  background: transparent;
}

.sidebar .nav-item .nav-link {
  padding: .75rem
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
  color: rgba(0, 0, 0, .15)
}

.sidebar-dark .nav-item:hover .nav-link[data-toggle=collapse]::after {
  color: rgba(0, 0, 0, .55)
}

.sidebar .nav-item .collapse .collapse-inner,
.sidebar .nav-item .collapsing .collapse-inner {
  min-width: unset;
  max-width: 10rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 10rem !important
  }

  .sidebar .nav-item .nav-link {
    width: 10rem
  }
}

@media (max-height: 300px) {
  .sidebar {
    display: none;
    width: 10vw;
  }
}

@media (max-width: 440px) and (orientation: potrait) {
  .sidebar {
    display: none;
    width: 10vw;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 10vw;
    display: flex;
  }

  .sidebar .sidebar-brand .sidebar-brand-icon i {
    opacity: 1;
  }

  .sidebar-brand {
    display: none !important;
  }

  .sidebar-brand .sidebar-brand-text {
    display: none;
    position: absolute;
    width: 12vw;
    color: #909ba5;
    font-weight: bold;
    line-height: 100%;
    left: 0;
    text-align: center;
  }

  .sidebar .nav-link span {
    display: none !important
  }

  .sidebar .nav-item .nav-link {
    width: max-content;
    margin: .25rem auto;
    padding: .5rem 0;
    border-radius: 10%;
  }

  .sidebar .nav-item .collapse {
    left: 10vw;
    top: 2vh;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
  }

  #content-wrapper {
    height: 100vh;
    overflow: hidden;
  }
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, .15)
}

.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, .4)
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(158, 158, 158, 0.38);
}

.sidebar-dark .nav-item .nav-link i {
  color: rgba(158, 158, 158, 0.38)
}

.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
  color: #2196f3
}

.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
  color: #acb4bc;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
  opacity: .5;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f0f3f5;
  opacity: 1;
  border: 1px solid #e4e7ea
}

.nav-item .collapse.show {
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: white;
  box-shadow: 0 0 .1rem .1rem rgba(255, 255, 255, .05);
  border-radius: 4px;
}

.nav-item .collapse .collapse-item {
  background-color: white;
  box-shadow: 0 0 .1rem .1rem rgba(255, 255, 255, .05);
  border-radius: 10px;
}

.sidebar .nav-item .collapsing {
  display: none;
  -webkit-transition: none;
  transition: none
}

#main-content {
  overflow: scroll
}

.sidebar-toggled #main-content {
  padding: .5rem;
}

.popover-header {
  padding: .25rem;
  margin-bottom: 0px;
  font-size: 1em;
  display: grid;
}

.popover-header:empty {
  display: none
}

.popover-body {
  padding: .41rem;
  border-radius: 10px;
}

.bs-popover-auto[x-placement^=top]>.arrow::after,.bs-popover-top>.arrow::after {
  bottom: 1px;
  border-width: .5rem .5rem 0;
  border-top-color: #fff
}

p.confirmation-content {
  margin: .4rem 0;
}

.confirmation-buttons .btn {
  padding: 0px .5rem;
  border-radius: 0;
}

.hide{
  display:none
}