<!DOCTYPE HTML>
<html>
<header th:replace="fragments/includes/head.html :: head"></header>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="fragments/includes/sidebar.html :: sidebar">
        </div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="fragments/includes/topbar.html :: topbar"></div>

                <div class="container-fluid">
                    <form class="needs-validation" id="theForm" action="#" data-th-action="@{/clients}" data-th-object="${command}"
                        method="post">
                        <input type="hidden" data-th-field="*{id}" />
                        <div data-th-if="${saved}" class="message-box-info">
                            Saved
                        </div>

                        <input type="hidden" data-th-field="*{id}" />
                        <div class="form-row">

                            <div class="form-group col-md-4 was-validated">
                                <label class="small mb-0" for="name">Name</label>
                                <input id="name" name="name" placeholder="name" type="text" class="form-control text-capitalize"
                                    data-th-field="*{name}" required>
                            </div>

                            <div class="form-group col-md-4">
                                <label class="small mb-0" for="phone">Phone</label>
                                <input id="phone" name="phone" placeholder="phone" type="text" class="form-control"
                                    data-th-field="*{phoneNumber}" required>
                            </div>
                        </div>
                         <div class="form-row ml-1">
                             <label class="small mb-0">Address</label>
                         </div>
                        <div class="form-row">
                            <div class="form-group col-5">
                                <label class="sr-only" for="inputAddress">Address</label>
                                <input id="address" name="address" placeholder="Street" type="text" class="form-control text-capitalize" 
                                    data-th-field="*{address}">
                            </div>

                            <div class="form-group col-4">
                                <label class="sr-only" for="inputCity">City</label>
                                <input type="text" name="city" placeholder="City" class="form-control" id="inputCity text-capitalize">
                            </div>

                            <div class="form-group col">
                                <label class="sr-only" for="inputZip">Zip</label>
                                <input type="text" name="zip" placeholder="Zip" class="form-control" id="inputZip">
                            </div>
                        </div>
                    </form>
                    <p>
                        <button type="submit" form="theForm" class="btn btn-primary btn-sm border-0" value="Save">Save</button>
                        <a class="btn btn-primary btn-sm border-0" data-th-href="@{/clients}">Cancel</a>
                        <a class="btn btn-primary btn-sm border-0" data-th-if="${command.id != null}" data-th-href="@{/clients/{c}/delete(c=${command?.id})}">Delete</a>
                        <!-- <a class="btn" data-th-if="${command.id != null}" data-th-href="@{/pets/new?clientId={c}(c=${command?.id})}">Add
                            Pet</a> -->

                        <a class="btn btn-outline-secondary btn-sm" data-th-if="${command.id != null}" data-toggle="collapse"
                            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            add pet
                        </a>
                    </p>

                    <!-- // TODO: pet form on client page -->

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body mb-2 col-md-10 border-1">
                          <h4 class="text-muted font-weight-light">new pet</h4>
                          <span > client </span>
        
                            <form class="needs-validation" id="petForm" action="#" data-th-action="@{/pets}"
                                method="post">
                                <!-- <input name="id" type="hidden"> -->
                                 <input name="clientId" type="hidden" data-th-value="${command.id}">
                                         
                                <div class="form-row">
                                    <div class="form-group col-auto was-validated">
                                        <label class="sr-only" for="name">Name</label>
                                        <input id="name" name="name" type="text" class="form-control form-control-sm text-capitalize" required>
                                        <div class="form-group mt-2 mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="altered" name="altered">
                                                <label class="form-check-label" for="altered" id="altered" name="altered" type="checkbox">
                                                    Altered
                                                </label>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-auto">
                                        <select id="gender" name="gender" class="form-control form-control-sm">
                                            <option value="Male" selected="selected">M</option>
                                            <option value="Female">F</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-auto">
                                      
                                         <button type="submit" form="petForm" class="btn btn-primary btn-sm border-0" value="add">Add</button>
                                      
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                    <div class="mt-4" data-th-if="${command.id != null}">
                        <div data-th-if="${deleted}" class="message-box-info">
                            Deleted successfully
                        </div>
                        <table class="table table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Pet Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Altered</th>
                                </tr>
                            </thead>
                            <tbody data-th-if="${pets.size() > 0}">
                                <tr data-th-each="pet : ${pets}">
                                    <td> <a data-th-href="@{/pets/{pid}?clientId={cid}(pid=${pet.id}, cid=${command.id})}"
                                            data-th-text="${pet.id}">...</a></td>
                                    <td data-th-text="${pet.name}">...</td>
                                    <td data-th-text="${pet.gender}">...</td>
                                    <td data-th-text="${pet.altered}">...</td>
                                </tr>
                            </tbody>
                            <tbody data-th-if="${pets.size() == 0}">
                                <tr>
                                    <td colspan="3">No associated pets</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
             <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
    </div>
    <header th:replace="fragments/includes/plugins.html :: script"></header>

    <script>
        $(document).ready(function(){
            $('#phone').mask('(000)-000-0000')
        });
    </script>

</body>

</html>