<!DOCTYPE HTML>
<html>
<header th:replace="fragments/includes/head.html :: head"></header>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="fragments/includes/sidebar.html :: sidebar">
        </div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="fragments/includes/general.html :: div#content"></div>

                <div class="container-fluid">
                    Welcome to the spring app tutorial.
                    <br>
                    From this app, you should be able to:
                    <ul>
                        <li> Add client and edit their info </li>
                        <li> Add pets for a client </li>
                        <li> Update a client's or a pet's info</li>
                    </ul>


                </div>
            </div>
        </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>

