<header th:replace="fragments/includes/tophalf.html"></header>
<div class="container-fluid">

<!-- Main Content --------------------------------------->

  Welcome to the spring app tutorial.
  <br>
  From this app, you should be able to:
  <ul>
    <li> Add client and edit their info </li>
    <li> Add pets for a client </li>
    <li> Update a client's or a pet's info</li>
  </ul>

<!-- end ------------------------------------------------->
</div>

<footer th:replace="fragments/includes/bottomhalf.html"></footer>
<!-- add additional scripts below -->