<header th:replace="fragments/includes/tophalf.html"></header>
<body id="page-top" class="text-center">
<div class="container-fluid">

<!-- Main Content --------------------------------------->

    <h2>log in </h2>
    <div class="row mb-3">
      <div data-th-if="${param.error}" class="message-box-error col">
        Invalid username and password
      </div>
      <div data-th-if="${param.logout}" class="message-box-info col">
        You have been logged out
      </div>
    </div>

    <div class="row justify-content-center">
      <form data-th-action="@{/login}" method="post" class="form-signin">
        <div class="form-group col-sm">
          <label for="username" class="sr-only">Username</label>
          <input id="username" name="username" type="text" class="form-control form-control-sm" placeholder="Username">
        </div>
        <div class="form-group col-sm">
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" class="form-control form-control-sm" placeholder="Password">
        </div>
        <div class="form-group col-sm">
          <button type="submit" class="btn btn-primary btn-sm">Sign In</button>
        </div>
      </form>
    </div>

    
<!-- end ------------------------------------------------->
</div>
<footer th:replace="fragments/includes/bottomhalf.html"></footer>
<!-- add additional scripts below -->

