<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"></header>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="fragments/includes/sidebar.html :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" data-th-fragment="content-wrapper">


      <div id="content">
        <div th:replace="fragments/includes/topbar.html :: topbar"></div>
        <div class="container-fluid">

          <!-- Main Content --------------------------------------->

          <h2 class="lead">edit appointment</h2>
      

          <!-- end ------------------------------------------------->

        </div>
      </div>


      <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
  </div>
  <header th:replace="fragments/includes/plugins.html :: script"></header>

  <!-- add additional scripts here  -->

</body>

</html>