<header th:replace="fragments/includes/tophalf.html"></header>
<div id="main-content" class="col">

  <!-- Main Content --------------------------------------->

  <h3>appointments table</h3>
  <span th:text="${#dates.year(#dates.createToday())}"></span>
  <p th:text="${param.q}">Test</p>

  <div class="table-responsive" data-th-if="${appointments.size() > 0}">

    <table class="table table-sm table-bordered">
 
      <thead>
        <tr>
          <th>id</th>
          <th colspan="2">pet</th>
          <th>date</th>
          <th>time</th>
          <th>type</th>
        </tr>
      </thead>
      <tbody>
        <tr data-th-each="appointment,iterStat : ${appointments}">
          <td data-th-text="${appointment.id}">...</td>
          <td data-th-text="${appointment.petId}">...</td>
          <td data-th-text="${appointment.pet.name}">...</td>
          <!-- <td data-th-text="${#dates.format(appointment.apptDate, 'MMM dd, yyyy')} ">...</td> -->
          <td data-th-text="${appointment.apptDate}">...</td>
          <td data-th-text="${appointment.apptTime}">...</td>
          <td data-th-text="${appointment.apptReason}">...</td>
          <td data-th-text="${appointment.visitType}">...</td>
          <td data-th-text="${appointment.closeType}">...</td>
        </tr>
      </tbody>
    </table>


  </div>

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- end ------------------------------------------------->
</div>

<footer th:replace="fragments/includes/bottomhalf.html"></footer>
<!-- add additional scripts below -->
