#content {
  width: 100%
}

.message-box-info {
  color: green;
}

.was-validated .form-control:invalid, .was-validated .form-control:valid {
  background-image: unset;
  border-color: #d1d3e2;
}

.was-validated .form-check-input:valid~.form-check-label {
  color: unset;
  border-color: unset;
}

.was-validated label[for="name"]:after {
  display: inline;
  content: "*";
  color: red;
}

.list-group-item table {
  margin: auto;
}
